<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
        <link rel="stylesheet" href="/css/styles.css"></head>
<body>
<nav>
    <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/income">Income</a></li>
        <li><a href="/expenses">Expenses</a></li>
        <li><a href="/savings">Savings</a></li>
        <li><a href="/budget">Budget</a></li>
        <li><a href="/assets-liabilities">Assets & Liabilities</a></li>
        <li><a href="/loans-leases">Loans & Leases</a></li>
    </ul>
</nav>
<div class="container">